# tasks/filigram.yml 
---

- name: Install required packages (wget and curl)
  apt:
    name:
      - wget
      - curl
    state: present
  when: ansible_os_family == 'Debian'

- name: Create /opt/filigram directory if it doesn't exist
  file:
    path: /opt/filigram
    state: directory
    mode: '0755'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Create .env file from template
  ansible.builtin.template:
    src: files/env.j2
    dest: /opt/filigram/.env
    mode: '0644'

- name: Copy files from local 'files' directory to /opt/filigram
  copy:
    src: "files/"
    dest: "/opt/filigram/"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'

- name: Verify Docker is installed and running
  block:
    - name: Check if Docker is installed
      command: docker --version
      register: docker_installed
      changed_when: false
      ignore_errors: yes

    - name: Fail if Docker is not installed (except in check mode)
      meta: end_host
      when: docker_installed.rc != 0 and not ansible_check_mode

    - name: Ensure Docker is running
      service:
        name: docker
        state: started
        enabled: yes
      when: docker_installed.rc == 0 or ansible_check_mode


# Define the list of images to pull (customize as needed)
- name: Set list of Filigran images
  set_fact:
    filigran_images:
      - alpine/openssl:{{ ludus_filigran_opencti_DOCKER_OPENSSL }}
      - redis:{{ ludus_filigran_opencti_DOCKER_REDIS }}
      - docker.elastic.co/elasticsearch/elasticsearch:{{ ludus_filigran_opencti_DOCKER_ELASTIC }}
      - postgres:{{ ludus_filigran_opencti_DOCKER_POSTGRES }}
      - minio/minio:{{ ludus_filigran_opencti_DOCKER_MINIO }}
      - rabbitmq:{{ ludus_filigran_opencti_DOCKER_RABBITMQ }}
      - filigran/xtm-composer:{{ ludus_filigran_opencti_DOCKER_XTM }}
      - opencti/platform:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/worker:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-export-file-stix:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-export-file-csv:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-export-file-txt:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-import-file-stix:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-import-document:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-import-file-yara:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-import-external-reference:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-opencti:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - opencti/connector-mitre:{{ ludus_filigran_opencti_DOCKER_OPENCTI }}
      - openaev/platform:{{ ludus_filigran_opencti_DOCKER_OPENAEV }}
      - openaev/collector-mitre-attack:{{ ludus_filigran_opencti_DOCKER_OPENAEV }}
      - openaev/collector-openaev:{{ ludus_filigran_opencti_DOCKER_OPENAEV }}
      - openaev/collector-atomic-red-team:{{ ludus_filigran_opencti_DOCKER_OPENAEV }}
      - openaev/collector-nvd-nist-cve:{{ ludus_filigran_opencti_DOCKER_OPENAEV }}
      - openaev/injector-nmap:{{ ludus_filigran_opencti_DOCKER_OPENAEV }}
      - openaev/injector-nuclei:{{ ludus_filigran_opencti_DOCKER_OPENAEV }}

- name: Pull Filigran images individually (max 2 at a time)
  community.docker.docker_image:
    name: "{{ item }}"
    source: pull
  loop: "{{ filigran_images }}"
  throttle: 2
  ignore_errors: yes

- name: Start Filigran docker
  community.docker.docker_compose_v2:
    project_src: /opt/filigram
    state: present
    wait: true
    wait_timeout: 240
    pull: missing
  register: compose_result

- name: Fail if Docker Compose failed to start services
  meta: end_host
  when: compose_result is defined and compose_result.failed

- name: Wait until Filigran HTTP status is 200
  uri:
    url: 'http://localhost:8080/'
    return_content: yes
    validate_certs: no
    status_code:
      - 200
  until: uri_output.status == 200
  retries: 24
  delay: 5
  register: uri_output
  when: compose_result is defined and not compose_result.failed
